<ion-view view-title="About Us">
  <ion-content>
    <div class="card">
	  <div class="item item-divider">
		Location Information
	  </div>
	  <div class="item item-text-wrap">
		<p><strong>Our Address</strong></p>
		<p>121, Clear Water Bay Road</p>
		<pClear Water Bay, Kowloon></p>
		<p>HONG KONG</p>
		<p>Tel: +852 1234 5678</p>
		<p>Fax: +852 8765 4321</p>
		<p>Email: confusion@food.net</p>
	  </div>
	  <div class="item item-divider">
		<div class="button-bar">
		  <a class="button icon-left ion-android-call button-positive">Call</a>
		  <a class="button icon-left ion-social-skype button-calm">Skype</a>
		  <a class="button icon-left ion-ios-email-outline button-balanced">Email</a>
		</div>
	  </div>
	</div>
  </ion-content>
</ion-view>
