/* Empty. Add your own CSS if you like */
.item .badge {
    top: 8px;
    right: 15px;
}

/*To hide the scrollbar on android */
/*ion-content { overflow-y: hidden !important;}*/

/*
 * Code for the stars rating
*/

.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.star-rating .star {
  padding: 1px;
  color: #ddd;
  font-size: 20px;
  text-shadow: .05em .05em #aaa;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
}
.star-rating .star.filled {
  color: #fd0;
}
.yellowstar {
  color: #fd0;
}
.star-rating.readonly .star.filled {
  color: rgba(240, 183, 27, 0.97);
}

/*Popover css*/
.popover {
  height: auto !important;
}
.popover ion-header-bar {
  position: relative;
}
.popover ion-content {
  top: 0;
  position: relative;
}
.popover-inner-content {
  width: 100%;
  padding: 5px 20px;
}

/*Map CSS*/
#map {
    height: 100%;
    width: 100%;
}
.scroll {
    height: 100%;
}

/*Testing - Delete this*/

.padding{
    max-width:100%;
    max-height:100%;
}
